@model IEnumerable<PartyInvites.Models.GuestResponse>
@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Responses</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    
</head>
<body style="background-color: cornsilk">
    <div class="panel-body">
        <h2>Here is the list of people attending the party</h2>
        <table class="table table-sm table-striped table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        </thead>
        <tbody>
        @foreach (PartyInvites.Models.GuestResponse r in Model)
        {
            <tr>
                <td>@r.Name</td>
                <td>@r.Email</td>
                <td>@r.Phone</td>
            </tr>
        }
        </tbody>
    </table>
        </div>
</body>
</html>
