@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My View</title>
</head>
<body>
<div> @ViewBag.Greeting Dear User 
    <p>We're going to have an exciting party.<br />
        <img src="../../wwwroot/images/1.jpg" alt="Event  Img" />
    </p>
    <br/>
    <a asp-action="RsvpForm"> Go To RSVP Form</a>
</div>
</body>
</html>
